# Database
DATABASE_URL="postgresql://username:password@ep-xxxxx-pooler.region.aws.neon.tech/dbname?sslmode=require"
DIRECT_URL="postgresql://username:password@ep-xxxxx.region.aws.neon.tech/dbname?sslmode=require"

# Sets Prisma adapter to PrismaPg instead of PrismaNeon
# Leave blank or set to 'pg' for direct PG connections (e.g., local Docker)
DATABASE_ADAPTER=""

# FRED
FRED_API_KEY=""
